
.product_card {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;

    grid-row: span 1;
    grid-column: span 1;

    > img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;

        border-radius: 12px;
    }

    > .product_info {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 10px 5px;

        gap: 5px;

        p, h3 {
            margin: 0;
        }

        > .option_count {
            display: flex;
            flex-direction: row;
            gap: 6px;
        }

        > h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 4px;
        }

        p {
            font-size: 14px;
            font-weight: 300;
            color: var(--foreground-grey-hex);

            &.price {
                font-size: 17px;
                font-weight: 500;
                color: var(--foreground-dark-hex);

                margin-bottom: 10px;
            }
        }
    }
}