.checkbox_wrapper {

    > .checkbox {

        margin: auto;

        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

        border-radius: 6px;

        background-color: var(--background-white-hex);
        border: 1px solid var(--foreground-light-grey-hex);

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &:hover {
            background-color: var(--background-grey-hex);
        }

        &.selected {
            border: 1px solid transparent;
            background-color: var(--primary-hex);

            > .check_icon {
                pointer-events: none;
            }
        }
    }
}