
.image_selector_wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;

    > label {
        padding-top: 10px;
    }

    > div {
        > div {

            cursor: pointer;

            width: 200px;
            height: 200px;
            border-radius: 20px;
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--background-grey-hex);
            

            > img {

                object-fit: cover;

                width: 100%;
                height: 100%;

                pointer-events: none;

                &.blank {
                    opacity: 0.1;
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}